.content {
  transition: margin-left 0.4s ease-in-out;
  margin-top: 0;
  margin-left: 90px;
  padding-bottom: 3em;
  scroll-behavior: smooth;
}

.content--pushed {
  margin-left: 300px;
  transition: margin-left 0.4s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hero {
  padding: 130px 3em 3em 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact {
  padding: 130px 3em 3em 3em;
}

@font-face {
  font-family: "Powerr";
  src: url("./typography/PowerrExtraBold.ttf");
}
/* source-sans-pro-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./typography/source-sans-pro-v21-latin-regular.woff2") format("woff2"), url("./typography/source-sans-pro-v21-latin-regular.woff") format("woff");
}
/* source-sans-pro-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("./typography/source-sans-pro-v21-latin-700.woff2") format("woff2"), url("./typography/source-sans-pro-v21-latin-700.woff") format("woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fdf8e1;
  color: #072ac8;
  font: 100% "source-sans-pro-700", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #072ac8;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: transparent;
}

.header {
  width: calc(100% - 100px);
  height: 80px;
  border-bottom: 1px solid #072ac8;
  background: #fdf8e1;
  padding-left: 2em;
  position: fixed;
  z-index: 9;
}
.header .header__btn {
  background: none;
  border: none;
  outline: transparent;
}
.header .header__title {
  display: flex;
  align-items: center;
  gap: 1em;
}
.header .header__title .header__logo {
  font: 100% "Powerr", source-sans-pro-700, sans-serif;
  color: #072ac8;
  font-weight: 700;
  font-size: 28px;
}
.header .header__contact {
  height: 80px;
  line-height: 80px;
  width: 200px;
  background-color: #072ac8;
  color: #fdf8e1;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  padding-left: 2em;
  padding-top: 2em;
  border-right: 1px solid #072ac8;
  background: #fdf8e1;
  transition: width 0.4s ease-in-out;
  z-index: 10;
}
.sidebar--open {
  width: 300px;
}
.sidebar .sidebar__btn {
  width: 30px;
}
.sidebar .sidebar__navigation .sidebar__nav-link {
  margin-bottom: 3em;
  transform: translateX(-150%);
  font-size: 1.1rem;
  transition: transform 0.4s ease-in-out;
}
.sidebar .sidebar__navigation .sidebar__nav-link:hover {
  transform: translateX(20px);
  transition: transform 0.1s ease-in-out;
}
.sidebar .sidebar__navigation .sidebar__nav-link--visible {
  transform: translateX(0%);
}
.sidebar .sidebar__social-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-bottom: 3em;
}

.hero {
  min-height: 70vh;
  width: 100%;
}
.hero .hero__content {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .hero__content .hero__title {
  font: 100% "Powerr", source-sans-pro-700, sans-serif;
  color: #072ac8;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 2px;
}
.hero .hero__content .hero__subtitle {
  color: #515151;
}
.hero .hero__content .hero__about {
  width: 85%;
  padding: 1em 0;
  line-height: 1.8;
  color: #515151;
}
.hero .hero__content .hero__about .hero__about_p {
  padding-top: 1em;
}
.hero .hero__content .hero__social {
  width: 100%;
  padding: 2em 0em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2em;
}
.hero .hero__content .hero__social .hero__social-item {
  display: flex;
  gap: 10px;
}
.hero .hero__image--flex {
  height: 100%;
  width: 30%;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero__image--flex .hero__image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

/*# sourceMappingURL=output.css.map */
